.wrapper {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  /* background: aqua; */
  height: 200px;
  position: relative;
  overflow: hidden;
}
.border {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  bottom: 24px;
  z-index: -1;
  height: 30px;
  width: 2400px;
}
.border div {
  background-image: url('/img/land2.png');
  width: 1200px;
  height: 100%;
}
.dino {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
}
.dino_run,
.dino_start,
.dino_dead {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}
.dino_down {
  position: relative;
  display: none;
  width: 55px;
  height: 26px;
}
.dino_run img,
.dino_start img,
.dino_dead img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.dino_down img {
  position: absolute;
  top: 0;
  width: 55px;
  height: 26px;
}
.dino_run_1,
.dino_down_1 {
  animation: run 0.2s linear infinite;
}
.dino_run_2,
.dino_down_2 {
  animation: run 0.2s linear infinite;
  animation-delay: 0.1s;
}
.dino_down {
  top: 15px;
}

@keyframes run {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.bird {
  position: absolute;
  bottom: 40px;
  right: 0;
  height: 40px;
  width: 40px;
}
.bird_1,
.bird_2 {
  position: absolute;
  width: 120%;
  height: 120%;
}
.bird_1 {
  animation: fly 0.2s linear infinite;
}
.bird_2 {
  animation: fly 0.2s linear infinite;
  animation-delay: 0.1s;
}

@keyframes fly {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.caktus_many {
  position: absolute;
  width: 50px;
  height: 40px;
  bottom: 0;
  right: 0;
}
.caktus_one {
  position: absolute;
  width: 25px;
  height: 50px;
  bottom: 0;
  right: 100px;
}
